@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
:root {
    --usafa-blue: #00509d;
    --royal-blue-dark: #00296b;
    --mikado-yellow: #fdc500;
    --blue-crayola: #4e80ff;
    --rich-black: #000814;
    /*--white: #ffffff;*/
    --alicia-blue: #e7f2ff;
    --med-champagne: #fff0b4;

    /**************************/
}
* {
    box-sizing: border-box;
    /*****/
    scrollbar-width: thin;/*8px*/
    scrollbar-color: var(--blue-crayola) var(--alicia-blue);
}
*::-webkit-scrollbar{
    width: 8px;
}
*::-webkit-scrollbar-track{
    background-color: var(--alicia-blue);
}
*::-webkit-scrollbar-thumb{
    background-color: var(--blue-crayola);
}
.flex-cc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.col {
    flex-flow: column nowrap;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body.col {
    width: 100vw;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
    align-items: stretch;
}
body.menu-open {
    overflow-y: hidden;
}
nav a {
    text-decoration: none;
}
button,
select,
input,
label,
option {
    cursor: pointer;
    background: none;
    border: none;
    font-family: "Work Sans", sans-serif;
}

.noBullets {
    list-style-type: none;
    padding: 0;
}

header.flex-cc {
    position: sticky;
    top: 0;
    height: 80px;
    margin: 0;
    padding: 0 24px;
    background: var(--mikado-yellow);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#logo {
    /* background: #eee; */
    user-select: none;
    text-decoration: none;
    padding-right: 20px;
    color: var(--royal-blue-dark);
    border: 2px solid transparent;
}
#logo:focus {
    outline: none;
    border-color: var(--royal-blue-dark);
}
#logo h1 {
    position: relative;
    margin: 0;
    font-size: 12px;
    align-items: center;
}
span#covid {
    width: 112px;
    /* background: #eee; */
    font-size: 36px;
    line-height: 22px;
}
span#helpDesk {
    width: 112px;
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2.4px;
    line-height: 12px;
}
span#ap {
    position: absolute;
    top: 0;
    right: -18px;
}

nav ul li {
    margin: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    --acc-clr: var(--usafa-blue);
    padding: 6px 10px;
    font-weight: 600;
    color: var(--acc-clr);
    border: 2px solid transparent;
    transition: background 100ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a:hover {
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgba(0, 0, 0, 0.1);
}
nav ul li a:focus {
    outline: none;
    border-color: var(--acc-clr);
}
nav ul li a > *{
    margin-left: 4px;
}

/*** Menu Button ***/
#menu {
    display: none;
    cursor: pointer;
    padding: 0;
    height: 40px;
    border: 0;
    border-radius: 3px;
    background: transparent;
    border: none;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center !important;
    z-index: 10;
}
#menu:hover {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
}
#menu:focus {
    border-color: var(--usafa-blue);
    outline: none;
}
#menu svg {
    background: transparent;
}
#menu svg g {
    fill: var(--usafa-blue);
}
#menu svg g rect {
    transition: transform 100ms ease-in-out;
    transform-origin: 50% 50%;
}
/* #menu svg g rect{
} */
#menu.open g #rect1 {
    transform: translateX(-14px) translateY(14px) rotate(45deg);
}
#menu.open g #rect2 {
    transform: translateX(-100px);
    height: 0;
}
#menu.open g #rect3 {
    transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}

body > section {
    padding: 80px 0 0 0;
}

/*** Hanuma **********************/

#searchSection {
    height: 100vh;
    margin-top: -80px;
    font-size: 18px;
    align-items: stretch;
    align-self: center;
}
#searchSection > * {
    margin: 14px 0;
}
#searchSection select,
#searchSection button,
#searchSection label {
    height: 60px;
    padding: 12px 18px;
    border-radius: 4px;
}
#searchSection select:focus,
#searchSection button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--rich-black);
}
#searchSection select,
#searchSection label {
    background: var(--alicia-blue);
}
#searchSection button {
    transition: background-color 20ms ease-in-out;
}
#selectWrapper {
    align-items: center;
}
#selectWrapper > span,
#typeChkWrapper span {
    margin: 0 12px;
    font-weight: 600;
}

#distSel,
#locateMeBtn {
    width: 40%;
    flex: 2 1 auto;
    font-size: 18px;
}
#locateMeBtn {
    color: white;
    background-color: var(--blue-crayola);
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}
#locateMeBtn:hover{
    background-color: #7199ff;
}
#locateMeBtn:focus {
    border-color: var(--royal-blue-dark);
}
#locateMeBtn:active {
    background-color: var(--usafa-blue);
}

#typeChkWrapper {
    align-items: center;
}
#typeChkWrapper > * {
    margin: 6px 0;
}

#typeChkWrapper label {
    height: 56px;
    margin: 0 8px;
    display: flex;
    align-items: center;
}
#typeChkWrapper label:first-child {
    margin-left: 0;
}
#typeChkWrapper label:last-child {
    margin-right: 0;
}

#typeChkWrapper input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --dim: 20px;
    width: var(--dim);
    height: var(--dim);
    margin: 0;
    margin-right: 10px;
    border: none;
    border: 2px solid var(--blue-crayola);
    border-radius: 3px;
    background: #bedcff;

    display: flex;
    justify-content: center;
    align-items: center;
}
#typeChkWrapper input[type="checkbox"]:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: transparent;
}
#typeChkWrapper input[type="checkbox"]:checked:after {
    color: white;
}

#typeChkWrapper input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--rich-black);
}
#typeChkWrapper input[type="checkbox"]:checked {
    background: var(--blue-crayola);
}

#searchBtn {
    color: white;
    background-color: var(--usafa-blue);
    font-size: 30px;
    font-weight: 700;
}
#searchBtn:hover{
    background-color: #3373b1;
}
#searchBtn:focus {
    border-color: var(--rich-black);
}
#searchBtn:active {
    background-color: var(--royal-blue-dark);
}

/*** Tab Menu ********************/

#resultSection{
    margin: 0 6vw;
    padding-top: 0;
    overflow: hidden;
}
#resultSection > *{
    align-self: stretch;
}
.tabBtnWrapper{
    margin: 0 6vw;
    padding-top: 90px;
}
.tabBtnWrapper div{
    width: 100%;
    background: var(--royal-blue-dark);
}
.tabBtn{
    user-select: none;
    width: 33%;
    height: 60px;
    padding: 6px 24px;
    margin: 0 1px;
    margin-bottom: 2px;
    color: black;
    background-color: var(--alicia-blue);
    font-size: 18px;
    
    flex: 2 1 auto;
    align-items: center;
}
.tabBtn:first-child{
    margin-left: 0;
}
.tabBtn:last-child{
    margin-right: 0;
}
.tabBtn.active{
    color: white;
    background-color: var(--usafa-blue);
    font-weight: bold;
}

.tabBtn input{
    display: none;
}

.tabBtn .material-icons, .tabBtn i{
    margin-right: 4px;
}

.tabContentWrapper{
    height: calc( 100vh - 160px );
    width: calc( 3 * 94vw );
    background-color: var(--alicia-blue);
    border: none;
    overflow: hidden;
    justify-content: flex-start;
}
.tabContentWrapper > section{
    height: 100%;
    width: 88vw;
    padding: 16px;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;;
}


/*** Gayatri *********************/

#medStoreTabContainer.col {
    align-items: stretch;
}
.medcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
}
.medStoreHead {
    text-align: center;
}
.storecontainerL {
    max-height: 360px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storecontainerL img {
    max-width: 100%;
}
.storecontainerR {
    padding: 0 30px;
    font-size: 20px;
}
.storecontainerR h3 {
    color: green;
}
.storecontainerL span {
    text-align: left;
}
.storecontainerL .location img {
    height: 24px;
}
.storecontainerL .phone img {
    height: 24px;
}
.storecontainerL .clock img {
    height: 24px;
}
.text-center .btn-wrapper {
    padding: 4rem 0;
    flex: 1;
}

/*** Siva ************************/

#hospitalTabContainer .container{
    align-items: stretch;
}

/* head_title */
.Hsptl_list_name {
    text-align: center;
    margin: 20px 0px;
}
.Hsptl_list_name label {
    color: #e43c26;
}

/* Total Hospitals */
.total_hospitals_list {
    border-collapse: collapse;
}
.total_hospitals_list td,
.total_hospitals_list th {
    padding: 12px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    font-size: 16px;
}

/* filters */
.frm_filtr{
    background-color: #7EA8E6;
    padding: 10px;
    text-align: center;
}
#Hsp_type, .sbt_btn{
    background-color: #fff;
    padding: 3px;
    border: 1px solid rgb(85, 83, 83);
}

.frm_filtr button{
    background: #fff;
    padding: 3px;
    border: 1px solid rgb(85, 83, 83);
}
.total_hospitals_list p{
    margin: 0px auto;
}
.frm_filtr select{
    background-color: #fff;
    padding: 3px;
    border: 1px solid rgb(85, 83, 83);
}


/* filters */

.flex-cc {
	display: flex;
	justify-content: start;
	align-items: center;
}
.col {
	flex-flow: column nowrap;
}
html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
body.col{
	align-items: stretch;
}
body,
div,
a,
button {
	font-family: sans-serif;
	font-size: 16px;
}
a {
	text-decoration: none;
}
button {
	background: none;
	border: none;
}
ul.noBullets {
	list-style-type: none;
	padding: 0;
}
.card {
	margin: 6px 0;
	padding: 6px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
/*
body * {
	background: rgba(0, 0, 0, 0.07);
}*/

header {
	position: sticky;
	top: 0;
	height: 60px;
	background: blue;
	z-index: 101;
}
header nav a {
	color: white;
}

section {
	padding: 8px;
	padding-top: 68px;
	margin: 8px 0;
}

section h3 {
	width: 100%;
	background: none;
	border: 1px solid #222;
	border-radius: 4px;
	padding: 8px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filters {
	padding: 6px 6px;
	margin: 4px 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	justify-content: space-between;
	align-items: stretch;
}
.filters ul.noBullets {
	padding: 0;
	margin: 0;
	flex-flow: row wrap;
}
.filters ul.noBullets li {
	margin: 6px 4px;
	padding: 0;
}
.filters ul li label {
	cursor: pointer;
	user-select: none;
	background: rgba(0, 120, 255, 0.2);
	padding: 4px 8px;
	border: 2px solid transparent;
	border-radius: 4px;
}
.filters ul li label.selected {
	border-color: blue;
}
.filters ul li label input {
	margin: 0;
	margin-right: 6px;
}
.filterBtn {
	cursor: pointer;
	padding: 0 12px;
	color: white;
	background: blue;
	border-radius: 4px;
}

#hospitalData {
	width: 100%;
	padding: 8px 16px;
	background: rgba(0, 0, 250, 0.06);
	flex-flow: column nowrap;
	align-items: stretch;
}
.hospitalItem {
	padding: 0;
	background: #fff;

	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}
.hospitalItem ul.noBullets {
	margin: 0;
}

.hospitalItem > * {
	padding: 8px;
}

.hospitalDetails {
	position: relative;
	width: 60%;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
}
.hospitalDetails > ul.noBullets {
	align-items: flex-start;
}
.hospitalDetails > ul.noBullets li {
	margin: 3px 4px;
}

li.hspNameLi {
	align-self: stretch;
	justify-content: space-between;
}
li.hspNameLi h4 {
	margin: 0;
	margin: 4px 0;
	font-size: 24px;
}
li.hspChargesLi {
	background: rgba(0, 120, 255, 0.2);
	margin-bottom: 6px;
	padding: 4px 8px;
	border-radius: 4px;
}
li.hspPhoneLi .phoneUl {
	align-items: stretch;
}
li.hspPhoneLi .phoneUl li {
	margin: 0 8px;
}
li.hspPhoneLi .phoneUl li:first-child {
	margin-left: 0;
}
li.hspPhoneLi .phoneUl li.vertLine {
	margin: 0;
	width: 1px;
	background: #222;
}
li.hspPhoneLi .phoneUl li:last-child {
	margin-right: 0;
}
li.hspAddressLi {
	font-size: 14px;
}

a.hspDetailsLink {
	--dim: 36px;
	height: var(--dim);
	width: 110px;
	padding: 0 16px;
	margin-left: 4px;
	color: white;
	background: blue;
	border-radius: calc(var(--dim) / 2);
	font-size: 12px;
	text-decoration: underline;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: start;
	flex: 0 0 auto;
}

.bedData {
	width: 40%;
	background: #e0f0f8;
	justify-content: center;
	align-items: stretch;
}
.bedData > ul.noBullets {
	justify-content: space-around;
	align-items: stretch;
}
.bedData > ul.noBullets > li {
	width: 25%;
	text-align: center;
}


/*** Siva ************************/

/*** Basha ***********************/


/*** check-box****/
.dbgOuter {
    border: solid 3px black;
    border-radius: 4px;
    margin: 0 auto;
    padding: 4px;
    align-items: center;
}
.dbgCont {
    display: inline-flex;
    align-items: center;
    padding: 6px 8px;
    margin: 4px;
    color: black;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.dbgCheck {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 8.0px;
}

.dbgOuter button {
    color: white;
    height: 100%;
    margin-left: 8px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background: var(--blue-crayola);
    font-weight: bold;
    font-size: 18px;
}
#vaccCentreTabContainer p {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    align-self: stretch;
}

#vaccCentreTabContainer table{
    align-self: stretch;
}
#vaccCentreTabContainer table,
#vaccCentreTabContainer td,
#vaccCentreTabContainer th {
    border: 1px solid black;
    padding: 2px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #c4c4c4;
}
#vaccCentreTabContainer table {
    border: collapse;
}

#vaccCentreTabContainer table i {
    color: #666;
    font-size: 12px;
    margin: 5px 0px;
    display: block;
}
#vaccCentreTabContainer table p{
    font-size: 12px;
}
#vaccCentreTabContainer table p a {
    color: black;
    text-align: center;
    text-decoration: underline;
    color: yellow;
}
#vaccCentreTabContainer sup {
    color: white;
    font-size: 6pt;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
    font-weight: bold;
}


footer.col{
    padding: 20px;
    margin-top: 80px;
    background-color: var(--mikado-yellow);
    align-items: center;
}
footer div span{
    margin: 8px 0;
}
footer div span i.fa-heart{
    color: red;
    margin: 0 5px;
}

#footerNav ul{
    margin: 0;
    margin-left: 16px;
}
#footerNav ul li{
    margin: 0 1px;
}



/*** Media Queries ***************************************/

@media (max-width: 768px){

    .tabBtn{
        font-size: 16px;
    }

    /* siva */
    .total_hospitals_list{
        width: 100%;
    }
.total_hospitals_list td, .total_hospitals_list th{
    font-size: 10px;
    padding: 5px;
}
    
    /* siva */
}


@media (max-width: 600px) {

    #nav_el {
        --w: 100vw;
        --h: 100vh;
        position: absolute;
        transform: translateY(calc(-1 * var(--h)));
        top: 0;
        left: 0;
        width: var(--w);
        height: var(--h);
        /* padding-top: 50px; */
        background: rgb(255, 240, 180, 0.9);
        flex-flow: column nowrap;
        align-items: stretch;
        transition: transform 120ms ease-in-out;
    }
    #nav_el.open {
        transform: translateY(0);
    }
    #nav_el ul.flex-cc {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }
    #nav_el#nav_el ul li {
        padding: 0;
        margin: 0;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    #nav_el ul li a {
        padding: min(4vh, 30px);
        font-size: 24px;
        justify-content: center;
    }
    #menu {
        display: flex;
    }

    /* siva */
    @media (max-width: 1080px) {
	.hospitalDetails {
		width: 57%;
	}
	.bedData {
		width: 43%;
	}
}

@media (max-width: 960px) {
	.hospitalDetails {
		width: 55%;
	}
	.bedData {
		width: 45%;
	}
}
   @media (max-width: 720px) {
	.hospitalData {
		align-items: stretch;
	}
	.hospitalItem {
		position: relative;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: stretch;
	}
	.hospitalDetails {
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		border-right: none;
	}
	.bedData {
		width: 100%;
	}
    .bedData li, li.hspAddressLi, .phoneUl a{
        font-size: 12px;
    }
    .hspChargesLi{
        font-size: 14px;
    }
   li.hspNameLi h4{
        font-size: 20px;
    }
    a.hspDetailsLink{
        padding: 0px 10px;
        font-size: 12px;
        width: 100px;
    }
}
    /* siva */

  
    footer > div.flex-cc{
        flex-flow: column nowrap;
        align-items: center;
    }
    footer div span{
        font-size: 16px;
    }
    #footerNav ul{
        margin: 0;
        margin-top: 4px;

    }

}

/*** Hanuma **********************/

@media (max-width: 700px) {
    #searchSection {
        margin: 0 10vw;
        margin-top: -80px;
        align-self: stretch;
    }
    #searchSection > * {
        margin: 8px 0;
    }
    #selectWrapper,
    #typeChkWrapper > div {
        flex-flow: column nowrap;
        align-items: stretch;
    }
    #selectWrapper > * {
        margin: 6px 0;
    }
    #distSel,
    #locateMeBtn {
        width: auto;
    }

    #typeChkWrapper {
        align-items: stretch;
    }
    #typeChkWrapper label {
        margin: 0;
        margin: 4px 0;
    }

    /*** Gayatri ******/
    .medcontainer {
        flex-flow: column nowrap;
    }
    .storecontainerL {
        max-height: 240px;
    }
    .storecontainerL img {
        width: 100%;
    }
}
